<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isEditMode ? 'Modificar Ingreso' : 'Añadir Ingreso' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveIncome()" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6">
          <ion-item style="margin-top: 16px;">
            <ion-label position="stacked">Fecha</ion-label>
            <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="income.date" name="date" required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Segmento</ion-label>
            <ion-select [(ngModel)]="income.segment" name="segment" required>
              <ion-select-option value="Segmento 1">Segmento 1</ion-select-option>
              <ion-select-option value="Segmento 2">Segmento 2</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Categoría</ion-label>
            <ion-select [(ngModel)]="income.category" name="category" required>
              <ion-select-option value="Categoría 1">Categoría 1</ion-select-option>
              <ion-select-option value="Categoría 2">Categoría 2</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Subcategoría</ion-label>
            <ion-select [(ngModel)]="income.subcategory" name="subcategory" required>
              <ion-select-option value="Subcategoría 1">Subcategoría 1</ion-select-option>
              <ion-select-option value="Subcategoría 2">Subcategoría 2</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Concepto</ion-label>
            <ion-input [(ngModel)]="income.concept" name="concept" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Proveedor</ion-label>
            <ion-input [(ngModel)]="income.provider" name="provider" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Tipo de Ingreso</ion-label>
            <ion-select [(ngModel)]="income.incomeType" name="incomeType" required>
              <ion-select-option value="Caja Chica">Caja Chica</ion-select-option>
              <ion-select-option value="Cuenta Bancaria">Cuenta Bancaria</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Monto</ion-label>
            <ion-input [(ngModel)]="income.amount" name="amount" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fecha de Conciliación</ion-label>
            <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="income.reconciliationDate" name="reconciliationDate" required></ion-datetime>
          </ion-item>
          
        </ion-col>

        <ion-col size-md="6">
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-input [(ngModel)]="income.description" name="description" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Piezas</ion-label>
            <ion-input [(ngModel)]="income.pieces" name="pieces" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Saldo</ion-label>
            <ion-input [(ngModel)]="income.balance" name="balance" type="number" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Recibo</ion-label>
            <ion-input [(ngModel)]="income.receipt" name="receipt" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select [(ngModel)]="income.status" name="status" required>
              <ion-select-option value="Validado">Validado</ion-select-option>
              <ion-select-option value="Manual">Manual</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Fecha de Autorización</ion-label>
            <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]="income.authDate" name="authDate" required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Usuario que Autorizó</ion-label>
            <ion-input [(ngModel)]="income.authUser" name="authUser" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Recibido por</ion-label>
            <ion-input [(ngModel)]="income.receivedBy" name="receivedBy" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Notas</ion-label>
            <ion-textarea rows="4" [(ngModel)]="income.notes" name="notes" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-button expand="full" type="submit">{{ isEditMode ? 'Modificar' : 'Añadir' }}</ion-button>
    </ion-footer>
  </form>
</ion-content>
