<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Buscar ingreso"></ion-searchbar>
  <div class="income-list">
    <div class="income-card" *ngFor="let income of filteredIncomes()" (click)="openModal(income)">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="cash" size="large" color="primary"></ion-icon>
        </ion-avatar>
        <ion-label>
          <div class="income-details">
            <div class="income-column">
              <h2><ion-icon name="calendar" slot="start"></ion-icon> Fecha: {{ income.fecha }}</h2>
              <h2><ion-icon name="document" slot="start"></ion-icon> Concepto: {{ income.nombreConcepto }}</h2>
              <p><ion-icon name="business" slot="start"></ion-icon> Proveedor: {{ income.proveedor }}</p>
              <p><ion-icon name="cash" slot="start"></ion-icon> Monto: {{ income.monto | currency }}</p>
              <p><ion-icon name="layers" slot="start"></ion-icon> Segmento: {{ income.nombreSegmento }}</p>
              <p><ion-icon name="pricetag" slot="start"></ion-icon> Categoría: {{ income.nombreCategoria }}</p>
              <p><ion-icon name="pricetags" slot="start"></ion-icon> Subcategoría: {{ income.nombreSubcategoria }}</p>
              <p><ion-icon name="clipboard" slot="start"></ion-icon> Descripción: {{ income.descripcion }}</p>
            </div>
            <div class="income-column">
              <p><ion-icon name="cube" slot="start"></ion-icon> Piezas: {{ income.piezas }}</p>
              <p><ion-icon name="construct" slot="start"></ion-icon> Tipo: {{ income.cajaChica ? 'Caja Chica' : 'Normal' }}</p>
              <p><ion-icon name="wallet" slot="start"></ion-icon> Saldo: {{ income.saldo | currency }}</p>
              <p><ion-icon name="checkmark-done" slot="start"></ion-icon> Estado: {{ income.nombreEstatus }}</p>
              <p><ion-icon name="calendar-clear" slot="start"></ion-icon> Fecha de Aprobación: {{ income.fechaAutorizacion }}</p>
              <p><ion-icon name="person-circle" slot="start"></ion-icon> Usuario Autorizado: {{ income.usuarioAutorizaId }}</p>
              <p><ion-icon name="person-add" slot="start"></ion-icon> Usuario Recibido: {{ income.usuarioRecibeId }}</p>
              <p><ion-icon name="refresh" slot="start"></ion-icon> Fechas de Conciliación: {{ income.fechaConciliacion }}</p>
              <p><ion-icon name="chatbox-ellipses" slot="start"></ion-icon> Observaciones: {{ income.observacionesDifConciliacion }}</p>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
