.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ion-card {
  width: 100%;
  max-width: 600px;
  margin: 1rem;
}

ion-card-content {
  display: flex;
  align-items: center; /* Alinea verticalmente los iconos y textos */
}

ion-icon {
  margin-right: 12px; /* Espacio entre el icono y el texto del card */
}

.welcome-container {
  text-align: center;
  margin-top: 3rem;
}

.welcome-container h2 {
  font-size: 1.8rem;
}

.welcome-container p {
  font-size: 1.2rem;
  color: #666;
}
