.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 16px; // Agregar espacio alrededor de la tabla
    margin-right: 2rem;

  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 2rem;

  }
  
  .header-row {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .header-row th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .data-row {
    border-bottom: 1px solid #ddd;
  }
  
  .data-row td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .page-info {
    display: inline-block;
    margin-left: auto;
    margin-right: 16px;
    font-weight: bold;
  }
  
  .margin_footer {
    margin-left: 1rem;
    width: 98%;
  }

  .green-text {
    color: green;
  }

.search-container {
  margin: 16px;
}

.search-container ion-item {
    margin-bottom: 8px;
}